* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

#mainGrid {
    display: grid;
    margin: auto;
    grid-template-rows: 100px 100px 100px 100px 100px;
}

#submitContainer {
    display: flex;
    margin: auto;
    margin-top: 60px;
    gap: 10px;
}

#mainTitle {
    margin: auto;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 200;
    color:#e0e0e0
}

.gridRow {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 80px;
}

.gridItem {
    display: flex;
    background-color: #f9f9f9;
    height: 80px;
    width: 80px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: #e0e0e0;
}

#submitButton {
    background-color: #218000;
    color: #ffffff;
    border-style: none;
    height: 50px;
    width: 110px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
}

#submitInput {
    background-color: #f9f9f9;
    border-style: solid;
    border-radius: 10px;
    border-color: #e0e0e0;
    border-width: 1px;
    width: 360px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #454545;
}

#notifText {
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    visibility: hidden;
}

::placeholder {
    color: #e0e0e0;
    opacity: 1;
  }
  
  ::-ms-input-placeholder {
    color: #e0e0e0;
  }
